annotated-types==0.7.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
dotflow==0.13.0.dev2
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
pluggy==1.5.0
pydantic-core==2.27.2
pydantic==2.10.6
pygments==2.19.1
pytest==8.3.5
requests==2.32.3
rich==13.9.4
soupsieve==2.6
typing-extensions==4.12.2
urllib3==2.3.0
python-dotenv=1.1.0
